<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"><head>
    <meta charset="UTF-8">
    <title>foto form</title>
</head>
<body>
    <form method="POST" th:action="@{/photographers/{idP}/album/{idA}/photo(idP=${fotografo.id},idA=${album.id})}" th:object="${foto}" enctype="multipart/form-data">

        <fieldset>
            <h1 align="center" >Inserisci Foto</h1>
            <div class="form-group">
                <label class="col-md-4 control-label" >Nome</label>
                <div class="col-md-4">
                    <input name="textinput" type="text" placeholder="La Gioconda" class="form-control input-md" required=""  th:field="*{nome} "  >
                    <td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Nome Error</td>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" >Categoria</label>
                <div class="col-md-4">
                    <input name="textinput" type="text" placeholder="Ritratti" class="form-control input-md" required=""  th:field="*{categoria} "  >
                    <td th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}">Categoria Error</td>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" >Prezzo</label>
                <div class="col-md-4">
                    <input name="textinput" type="text" placeholder="30.00" class="form-control input-md" required=""  th:field="*{prezzo} "  >
                    <td th:if="${#fields.hasErrors('prezzo')}" th:errors="*{prezzo}">Prezzo Error</td>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" >File</label>
                <div class="col-md-4">
                    <input name="file" type="file" placeholder="immagine" class="form-control input-md" required=""  >
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" ></label>
                <div class="col-md-8">
                    <input type="submit" id="button1id" name="button1id" value="inserisci" class="btn btn-default filter-button">
                </div>
            </div>

        </fieldset>

    </form>
</body>
</html>