<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Page for funzionari</title>
</head>
<body>
    <h4>Bentornato, [[${#httpServletRequest.remoteUser}]] !</h4>
    <li th:each="ordine : ${ordini}">
        <ul>
            <article>
                <h3 th:text="${ordine.id}"/>
                <div th:text="${ordine.dettagli.email}"/>
                <div th:text="${ordine.dettagli.cognome} ${ordine.nome}"/>
                <div th:text="${ordine.dettagli.email}"/>
                <a
                        th:href="@{/{id}/fotografie(ordine.id)}"
                        th:text="Fotografie"    >

                </a>
                <div th:text="${ordine.prezzo}"></div>
            </article>
        </ul>
    </li>

</body>
</html>