<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Progetto siw</title>
    <h1>Our Gallery!<h1>
        </head>
<body>
<tr>
    <tc>
        <a href="/gallery/photos">Aggiungi Foto</a>
    </tc>
    <tc>
        <a href="/gallery/albums">Aggiungi Album</a>
    </tc>
    <tc>
        <a href="/gallery/photographers">Aggiungi Fotografo</a>
    </tc>
    <br>
    <tc>
        <a href="/gallery/deletephotographers">Cancella Fotografi</a>
    </tc>

    <tc>
        <a href="/gallery/photographers/all">Visualizza Fotografi</a>
    </tc>

</tr>

</body>
</html>