<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Home</title>
    <style>
        .bottoni{
            display: flex;
            flex-direction: row;
        }
    </style>
</head>
<body>
    <h1 th:color="blue"> HOMEPAGE </h1>
    <h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
    <div class = bottoni>
        <a style= "margin : 0 4px 0; color: blue"  th:href="@{/gallery}">Gallery Page</a>
        <a style=" margin : 0 4px 0; color: blue" th:href="@{/funzionario}" >
            Zona Funzionari
        </a>
    </div>



</body>
</html>


