<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Home</title>
    <style>
        .bottoni{
            display: flex;
            flex-direction: row;
        }
    </style>
</head>
<body>
    <h1 th:color="blue"> HOMEPAGE </h1>
    <h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
    <h3>Benvenuto nel progetto per Sistemi Informativi sul Web!</h3>
    <h3>Membri del team : </h3>
    <div>
        <p>Valentino Sacco [507966]</p>
        <p>Leonardo Sano [488242]</p>
        <p>Giulia Cattaneo [509563]</p>
    </div>
    <div class = bottoni>
        <a style= "margin : 0 4px 0; color: blue"  th:href="@{/gallery}">Inizia a visualizzare il progetto!</a>
    </div>



</body>
</html>


