<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

    <h1>This is Home page!</h1>
    <a style="color: blue" th:href="@{/gallery}">Gallery Page</a>
    <a style="color: blue" th:href="@{/funzionario}" sec:authorize="hasAuthority('ROLE_FUNZIONARIO')">
        Funzionari's page
    </a>
</body>
</html>


