<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .image{
            width: 20%;
            height: 20%;
        }
        .immaginiContainer{
            object-fit: contain;
            display: grid;
            width: 90%;
            height: 90%;
        }
    </style>
</head>
<body>
    <div class="immaginiContainer">
        <h2 th:case="null">No users yet!</h2>
        <li th:each="fotografia : ${fotografie}">
            <ul>
                <div class="image">
                    <a th:href="@{/gallery/photo/{idPhoto}(idPhoto=${fotografia.id})}"><!--poi andrà l'indirizzo giusto-->
                        <img alt="Image"
                             th:src="${fotografia.url}" width="70%" height="70%"></a>
                </div>
            </ul>
        </li>
    </div>
</body>
</html>