<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
<div class="container">
    <h1 align="center" class="gallery-title">Pini scarlatti</h1>
    <div align="center">
        <a class="btn btn-default filter-button"  th:href="@{/home}">Home</a>
        <a class="btn btn-default filter-button"  th:href="@{/gallery}">Gallery</a>
        <a class="btn btn-default filter-button"  th:href="@{/photographers}">Fotografi</a>
        <a class="btn btn-default filter-button"  th:href="@{/carrello}">Carrello</a>
        <a class="btn btn-default filter-button"  th:href="@{/photographers}">Funzionario</a>
    </div>
<!--/*@thymesVar id="fotografi" type="java.util.List"*/-->
<div class="container my-5" th:switch="${fotografi}">
    <!-- Search form -->

    <form action="/photographers/{value}" method="get" class="form-inline">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3 w-55" type="text" placeholder="Search" name="value"
               aria-label="Search">
    </form>
    <div class="row">
        <div class="col-md-6">
            <div th:case="*">
                <h2 class="my-5">Fotografi</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cognome</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="fotografo : ${fotografi}">
                        <td th:text="${fotografo.nome}"></td>
                        <td th:text="${fotografo.cognome}"></td>
                        <td><a th:href="@{/photographers/{id}/album(id=${fotografo.id})}" class="btn btn-default filter-button">Album</a></td>
                        <td><a  th:href="@{/photographers/{id}/details(id=${fotografo.id})}" class="btn btn-default filter-button">Dettagli</a></td>
                        <td><a  sec:authorize="hasAuthority('ROLE_FUNZIONARIO')" th:href="@{/photographers/{id}/delete(id=${fotografo.id})}" class="btn btn-default filter-button">Elimina</a></td>
                        <td><a  sec:authorize="hasAuthority('ROLE_FUNZIONARIO')" th:href="@{/photographers/{id}/edit(id=${fotografo.id})}" class="btn btn-default filter-button">Modifica</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a sec:authorize="hasAuthority('ROLE_FUNZIONARIO')" href="/photographers/add" class="btn btn-default filter-button">Aggiungi fotografo</a>
            <a href="/logout" method="POST" class="btn btn-default filter-button">Logout </a>
        </div>
    </div>
</div>
</body>
</html>